*{
    box-sizing: border-box;
}

body{
    background-color: #ffd372;
    font-family: poppins, sans-serif;
    margin: 0;
    padding: 0;
}

/**************************** NAV BAR ******************************/

.navbar{
    background-color: #905e96;
    color: #fff;
    font-style: bolder;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.brand-name{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem;
}

.brand-name a {
    color: #fff;
    text-decoration: none;
}

.navbar-links{
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: #D58BDD;
}

.hamburger-btn{
    position: absolute;
    top: .75rem;
    right: 1rem;
    
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.hamburger-btn .bar {
    height: 3px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
}

h1, h2, h3, h4, h5, h6 {
    color: #905e96;
}

.title-pic {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 75px 0;
    width: 100%;
    flex-wrap: wrap;
}

#profile-pic {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: bounce 1s infinite alternate;
}

@keyframes bounce {
    0% { transform: translateY(0); }
    100% { transform: translateY(-30px); }
}

h1 {
    display: flex;
    flex-wrap: wrap;
    font-size: 4.5rem;
    padding-left: 25px;
}

.bio-text {
    background-color: #fbfacd;
    margin: 50px;
    padding: 50px;
}

h4 {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
}

.tech-btns {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 30px 100px;
    perspective: 1000px;
}
.tech-btns button{
    background-image: url('');
    border-radius: 50%;
    font-size: 76%;
    height: 75px;
    width: 75px;
    padding: 10px;
    margin: 5px;
}

/************************************ SKILLS ******************************************/

.sk-btn {
    border: none;
    max-width: ;
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}
.sk-btn:hover {
    transform: translateY(360deg);
}

.html-btn {
    background-image: url(images/html.png);
    background-size: contain;
}


/************************************ FOOTER *****************************************/

footer{
    background-color: #D58BDD;
    color: #905e96;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: .813rem;
    font-weight: 500;
    padding: 50px 0;
}

.footer-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    font-size: 2rem;
    color: #905e96;
    letter-spacing: 1.3rem;
    padding: 0 17px 0 25px;
}

.footer-icons:hover {
    background-color: #D58BDD;
}

.footer-icons:focus {
    background-color: #c0c0c0;
}

.footer-right {
    text-align: right;
}

.footer-text-right {
    padding-left: 8px;
}


/****************************** MEDIA QUERIES *************************************/


@media (max-width: 950px) {
    
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .hamburger-btn {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1.5rem;
    }

    .navbar-links.active {
        display: flex;
    }


    /******************************* SECTIONS ************************************/

    .title-pic, 

    /********************************* FOOTER ************************************/

    footer{
        background-color: #D58BDD;
        color: #905e96;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-weight: 600;
        padding: 38px 20px;
    }
}